<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="styles.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
      h1 {
      margin-bottom: 30px;
      color: #add8e6; /* Nouvelle couleur bleu tendre */
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-sm bg-light navbar-light">
    <ul class="navbar-nav ml-auto">
    <li class="nav-item">
        <a class="nav-link" href="http://localhost:3000/users/new_signup">S'enregistrer</a>
      </li>
    <li class="nav-item">
        <a class="nav-link" href="http://localhost:3000/home">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:3000/gossips">Liste Gossips</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:3000/gossips/new">Nouveau Gossip</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:3000/contact">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:3000/team">Team</a>
      </li>
    </ul>
  </nav>
  <div class="container">
    <h1>Poster un Gossip</h1>
  <form action="/gossips" method="post">
  <label for="author">Nom</label><br>
  <input type="text" id="author" name="gossip[author]"><br>
  <label for="content">Gossip</label><br>
  <textarea id="content" name="gossip[content]"></textarea><br><br>
  <input type="submit" value="Submit">
  </form>
   <% if @gossip.errors.any? %>
  <p>Nous n'avons pas réussi à créer le potin pour la (ou les) raison(s) suivante(s) :</p>
  <ul>
  <% @gossip.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

  </div>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
